
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/adminLayout::header">
  <th:block th:replace="admin/adminLayout::datatables-css"></th:block>
</head>

<body>
  <!-- Sidenav -->
  <nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner" th:replace="admin/adminLayout::sidenav">
    </div>
  </nav>
  <!-- Main content -->
  <div class="main-content" id="panel">
    <!-- Topnav -->
    <nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent" th:replace="admin/adminLayout::topnav">
        </div>
      </div>
    </nav>

    <!-- Header Tables -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">C1019G1</h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="/admin/dashboard"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="/admin/customer-datatables-ajax/" th:text="${term}"></a></li>
                  <li class="breadcrumb-item active" aria-current="page">Customer</li>
                </ol>
              </nav>
            </div>
            <div class="col-lg-6 col-5 text-right">
              <a href="javascript:void(0);" class="btn btn-sm btn-neutral" th:text="${title}" onclick="customers.addNew()"></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Body Tables -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card">
            <!-- Card header -->
            <div class="card-header border-0">
              <h3 class="mb-0" th:text="${term}"></h3>
            </div>
            <!-- Light table -->
            <div class="table-responsive">
              <table class="table align-items-center table-flush" id="customers-datatables" name="customers-datatables" style="width: 100%">

              </table>
            </div>

            <!-- The Modal -->
            <div class="modal" id="modalAddEdit" name="modalAddEdit">
              <div class="modal-dialog">
                <div class="modal-content">

                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title" id="modalTitle" th:name="modalTitle"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>

                  <!-- Modal body -->
                  <div class="modal-body">
                    <form id="formAddEdit" th:name="formAddEdit">
                      <input hidden name="id" id="id" >
                      <div class="row form-group">
                        <div class="col-3">
                          <label>FirstName</label>
                        </div>
                        <div class="col-9">
                          <input class="form-control" type="text"
                                 name="firstName" id="firstName"
                                 data-rule-required=true >
                        </div>
                      </div>
                      <div class="row form-group">
                        <div class="col-3">
                          <label>LastName</label>
                        </div>
                        <div class="col-9">
                          <input class="form-control" type="text"
                                 name="lastName" id="lastName"
                                 data-rule-required=true >
                        </div>
                      </div>

                      <div class="row form-group">
                        <div class="col-3">
                          <label>Province</label>
                        </div>
                        <div class="col-9">
                          <select class="form-control" name="province" id="province"></select>
                        </div>
                      </div>
                    </form>
                  </div>

                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <a href="javascript:;" class="btn btn-primary"
                       onclick="customers.save()">Save</a>

                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>

                </div>
              </div>
            </div>
            <!-- Card footer -->
            <div class="card-footer py-4">
              <nav aria-label="...">
                <ul class="pagination justify-content-end mb-0">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">
                      <i class="fas fa-angle-left"></i>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">
                      <i class="fas fa-angle-right"></i>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="footer pt-0" th:replace="admin/adminLayout::footer">
    </footer>
  </div>

  <!-- Argon Scripts -->

  <th:block th:replace="admin/layout::block-script" >
  </th:block>
  <th:block th:replace="admin/layout::datatables-script" >
  </th:block>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js"></script>
  <script>
    var customers = {} || customers;
    customers.intTable = function(){
      $("#customers-datatables").DataTable({
        ajax: {
          url: 'http://localhost:8080/api/customers/',
          method: "GET",
          datatype: "json",
          dataSrc: ""
        },
        columns: [
          { data: "firstName" , name: "FirstName", title: "FirstName",orderable: true},
          { data: "lastName", name : "LastName" , title: "LastName"},
          { data: "id", name : "Action", title : "Action",sortable: false,
            orderable: false ,"render": function ( data, type, row, meta ) {
              var str =  "<a href='javascript:;' title='edit customer' onclick='customers.get("+ data +")'><i class='fa fa-edit'></i></a> " +
                      "<a href='javascript:;' title='remove customer' onclick='customers.delete("+ data +")' ><i class='fa fa-trash'></i></a>"
              return str ;
            }
          }
        ]
      });
    };

    customers.addNew = function(){
      $('#modalTitle').html("Add new customer");
      customers.resetForm();
      $('#modalAddEdit').modal('show');
    };
    customers.initValidation =  function(){
      $("#modalAddEdit").validate({
        rules: {
          firstName: "required",
          lastName:  {
            required: true,
            minlength: 5
          },
          province: "required"
        },
        messages: {
          firstName: "Please enter your FirstName",
          lastName: {
            required: "Please enter a LastName",
            minlength: "Your username must consist of at least 5 characters"
          },
          province: "Please enter your Province",
        }
      });
    }

    customers.resetForm =  function(){
      $('#formAddEdit')[0].reset();
      $('#firstName').val('');
      $('#lastName').val('');
      //
      var validator = $( "#formAddEdit" ).validate();
      validator.resetForm();
    }

    customers.initProvinces = function(){
      $.ajax({
        url : "http://localhost:8080/api/provinces/",
        method : "GET",
        dataType : "json",
        success : function(data){
          $('#province').empty();
          $.each(data, function(i, v){
            $('#province').append(
                    "<option value='"+ v.id +"'>"+ v.name +"</option>"
            );
          });
        }
      });
    };



    customers.get = function(id){
      console.log('get :'+ id);

      $.ajax({
        url : "http://localhost:8080/api/customers/" + id,
        method : "GET",
        dataType : "json",
        success : function(data){
          console.log(data);
          $('#formAddEdit')[0].reset();
          //
          $('#modalTitle').html("Edit customer");
          $('#firstName').val(data.firstName);
          $('#lastName').val(data.lastName);
          $('#province').val(data.province.id);
          $('#id').val(data.id);

          $('#modalAddEdit').modal('show');
        }
      });
    };

    customers.delete = function(id){
      bootbox.confirm({
        title: "Remove customer",
        message: "Do you want to remove this customer?",
        buttons: {
          cancel: {
            label: '<i class="fa fa-times"></i> No'
          },
          confirm: {
            label: '<i class="fa fa-check"></i> Yes'
          }
        },
        callback: function (result) {
          if(result){
            $.ajax({
              url : "http://localhost:8080/customers/" + id,
              method: "DELETE",
              dataType : "json",
              success : function(data){
                customers.intTable();
              }
            });
          }
        }
      });
    };

    customers.save = function(){
      if ($("#formAddEdit").valid()){
        if($('#id').val() == 0){
          var customerObj = {};
          customerObj.firstName = $('#firstName').val();
          customerObj.lastName = $('#lastName').val();
          
          var provinceObj = {};
          provinceObj.id = $("#province").val();
          provinceObj.name = $("#province option:selected").html();
          customerObj.province = provinceObj;

          $.ajax({
            url : "http://localhost:8080/api/customers/",
            method : "POST",
            dataType : "json",
            contentType : "application/json",
            data : JSON.stringify(customerObj),
            done: function(){
              console.log("POST DONE");
              $('#modalAddEdit').modal('hide');

              $("#customers-datatables").DataTable().ajax.reload();
            },
            success : function(data){
              console.log("POST success");
              $('#modalAddEdit').modal('hide');
              $("#customers-datatables").DataTable().ajax.reload();

            }
          });
        }
        else{
          var customerObj = {};
          customerObj.firstName = $('#firstName').val();
          customerObj.lastName = $('#lastName').val();
          customerObj.id = $('#id').val();
          var provinceObj = {};
          provinceObj.id = $("#province").val();
          provinceObj.name = $("#province option:selected").html();
          customerObj.province = provinceObj;

          $.ajax({
            url : "http://localhost:8080/api/customers/" + customerObj.id,
            method : "PUT",
            dataType : "json",
            contentType : "application/json",
            data : JSON.stringify(customerObj),
            success : function(data){
              $('#modalAddEdit').modal('hide');
              $("#customers-datatables").DataTable().ajax.reload();
            }
          });
        }
      }

    };

    customers.init = function(){
      customers.intTable();
      customers.initCustomerLines();
      customers.initValidation();
    };

    $(document).ready(function(){
      customers.init();
    });
  </script>
</body>

</html>