<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Pet Type</title>
</head>
<body>
<h1>Edit Pet Type</h1>
<p>
    <a href="/pettype">Pet Type List</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/edit-pettype}" th:object="${pettype}" method="POST">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Type of Pet</td>
            <td><input type="text" th:field="*{name}"/></td>

        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update Pet Type"></td>
        </tr>
    </table>
</form>
</body>
</html>